.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/gradle-wrapper.jar
android/local.properties
android/key.properties
android/**/*.keystore
android/**/*.jks
*.iml
.idea/
.vscode/
.DS_Store
